* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(241, 241, 241);
  height: 100vh;
}

.main-title {
  font-size: 72px;
  color: rgb(0, 164, 230);
  text-shadow: 1px 1px 2px #333;
}

.nav-link {
  background-color: #333;
  color: #eee;
  text-decoration: none;
  padding: 10px;
}

/* .nav-link:active {
  background-color: rgb(0, 164, 230);
  color: #eee;
  font-weight: 900; 
}  */

.nav-link:hover {
  background-color: rgb(83, 83, 83);
}

.nav-bar {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
